<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: black; overflow: hidden;">
    <div id="live-image" style="width: auto; height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: center;"></div>

    <script>
        // put on full screen
        document.body.requestFullscreen();

        const imageElement = document.getElementById("live-image");
        
        // Open WebSocket connection to receive the image stream
        const ws = new WebSocket("/stream");

        // When receiving a message, update the image source
        ws.onmessage = (event) => {
            //imageElement.src = event.data;

            // add image as style background
            imageElement.style.backgroundImage = `url(${event.data})`;
        };

        ws.onclose = () => {
            console.log("WebSocket connection closed");
        };
        
        ws.onerror = (error) => {
            console.error("WebSocket error:", error);
        };
    </script>
</body>
</html>
